# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# System folders
.DS_Store

# Vendor
vendor/*
!vendor/vendor.json

# VSCode Workspaces
*.code-workspace

# Goland config files
.idea